

body,html{
  font-family: 'Roboto', sans-serif;
}

h2{
  color: white;
}
/*navbar*/
.navbar_top{
  background-color: rgb(52, 58, 64);
  height:60px;
  align-content: center;
  z-index: 1;
  overflow: hidden;
}
.navbar_top a{
  color:white;
  font-size: 1em;
  padding: 25px 40px;
  text-align: center;
  padding: auto;
  margin:auto;
}
.navbar_top a:hover{
  background-color: #6c747c;
  color:rgb(52, 58, 64);
  text-decoration: none;
}

/*Navbar mobile*/

.navbar_mobile a:hover{
  text-decoration: none;
}

@media(min-width:600px){
.navbar_top{
  display:block;
  }

.navbar_mobile{
  display:none;
}

.bars{
  display:none;
  
  }
}
@media(max-width:600px){
  .navbar_top{
    display:none;
  }

  .bars{
    display:block;
    font-size:2em;
    position: fixed;
    padding:40px 0px 0px 40px;
    color:white;
    z-index:1;
  }

  .navbar_mobile{
    color:white;
    background-color:rgba(52, 58, 64, 0.6);
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    font-size:1em;
    text-decoration: none;
    display:none;
  }
  .navbar_mobile a{
    padding:auto;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    font-size: 2em;
    align-items: center;
    padding:20px 0px 20px 20px;
  }
}


 /*navbar*/
 .spacing{
   padding: 50px 0px;
 }

.main{
  height: 800px;
  text-align: center;
  justify-content: center;
  background-color: #767585;
  margin:0px;
  padding:0px;

}

.main-textcontainer{
  justify-content: center;
  text-align: center;
  height:100%;
  width:100%;
  padding-top: 200px;
  background-image: url(images/openingimage.jpg);
  position:fixed;
  color:white;
  margin:0px;
}

.hometext{
  color: white;
  background-color: #6c747c;
  text-align: center;
  width:400px;
}
.about-section{
  background-color:rgb(52, 58, 64);
  padding-bottom:50px;

}
.about{
  text-align: center;
  background: rgb(52, 58, 64);
  color: white;
  width:100%;
  padding-top:50px;
  padding-bottom:20px;
  margin:25px
}

.features{
  background-image: url(images/features_background.jpg);
  position: sticky;
  text-align: center;
  height: 700px;
  color: white;
  padding-top:50px;
  padding-bottom:20px;
  
}
.table{
  width:200px;
  height: 300px;
}
.tablerow{
  width: 50px;
}
.fa-times{
   color:red;
   font-size: 2em;
}
.fa-check{
  color:green;
  font-size: 2em;
}

.video{
  text-align: center;
  justify-content: center;
  background-color: rgb(52, 58, 64);
  height:100vh;

}
.pricing{
  height: 750px;
  text-align: center;
  background-image: url(images/art-background-blue-370799.png);
  height: auto;
}

.basic{
  text-align: center;
  background-color: lightgrey;
  margin: 50px;

}
.pro{

  text-align: center;
  background-color: lightgrey;
  margin: 50px;
}

.ultimate{
  text-align: center;
  background-color: lightgrey;
  margin: 50px;

}
.contact{
  background-color: rgb(52, 58, 64);
  color:white;
  text-align: center;
}
.contact a{
  color:white;
  text-decoration: none;

}
.contact a:hover{
  text-decoration: none;

}

table{
  width:250px;
  height: 500px;
  padding: 50px 0px 50px 0px;
}
td{
  width:75px;
  
}
th{
  width:75px;
  background-color: rgba(52, 58, 64, 0.4);
  color:white;
}
ul{
  list-style: none;
}

